
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
body{
    background-image:url(fondoAltoVoltaje.jpg);
}
a{
    text-decoration: none;
}

header div{
    text-align: center;
}
img{
    width: 10ch;
    height: 10ch;
    margin-bottom: 5ch;
    animation: beat 1.5s;
}
@keyframes beat {
    0%{transform: scale(1) ;}
    25%{transform: scale(1.3);}
    75%{transform: scale(1.7);}
    100%{transform: scale(1) ;}
}

section{
    display: block;
}
.basicos{
    background-color: rgb(221, 221, 221);
    display: block;
    text-align: center;
    font-size: 300%;
    transition: all 0.5s ease 0s;
    padding: 3rem;
    margin: 1% 0.5% 0.5%;
}

.basicos:link{
    color: blue;
}

.basicos:visited{
    color: darkblue;
}

.basicos:hover{
    background-color: #fff;
    color: #040453;
    text-decoration: underline;
    font-size: 350%;
}

footer{
    background-color: #45465e;
    padding : 4% 0% ; 
}

.extras__h2{
    display: inline;
    margin: 0px 75px;
    border-radius: 10px;
    font-size: xx-large;
}

.extras__h2 :link{
    color: white;
}

.extras__h2 :visited{
    color: whitesmoke;
}

.extras__h2 :hover{
    text-decoration: underline;
}

#largo{
    float: right;
    width: 8ch;
}
#corto{
    margin-right: 0;
}
#largo2{
    float: left;
    width: 8ch;
}