
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
img{
    width: 10ch;
    background-color: #28245e;
}

body{
    background-color: #cfcfd6;
}

a, div{
    display: inline;
}

header a{
    float: right;
}

section a{
    background-color: #fff;
    display: inline;
    font-size: 2rem;
}

